.forgot_password_container {
    -fx-background-color: #ECF0F1;
}

.custom-textfield {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BDC3C7;
    -fx-border-radius: 5;
}

.custom-button {
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
}
